<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-image: url("https://thumbs.gfycat.com/BasicWeightyFeline-small.gif");
}
</style>


<center><img src = "<%= @character.image %>" width="190" height="250"></center>
<h1 style="color:white;"><%= @character.name %></h1>

<p style="color:white;">Color: <%= @character.color %></p>

<p style="color:white;">Age:  <%= @character.age %></p>

<p style="color:white;">Accessory:  <%= @character.accessory %></p>

<p style="color:white;">Special Ability: <%= @character.special_ability %></p>

<p style="color:white;">Backstory: <%= @character.backstory %></p>


<center><form action="/characters/<%= @character.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <% if @character.user == current_user %>
    <button type="submit" style="height: 50px; width: 100px">Delete <%=@character.name%></button>
    <% end %>
    </form>


