<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-image: url("https://thumbs.gfycat.com/BasicWeightyFeline-small.gif");
}
</style>

<h1 style="color:white;"><center><%= @character.name %></h1></center>
<center><img src = "<%= @character.image %>" width="150" height="220"></center>




<center><p style="color:pink;"><%= @character.backstory %></p></center>
<br>
<br>


<center><form action="/characters/<%= @character.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <% if @character.user == current_user %>
    <button type="submit" style="height: 50px; width: 100px">Delete <%=@character.name%></button>
    <% end %>
    </form>


